#project-description-div {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;

   height: 100%;
   width: 92%;

   padding: 18px 22px;
   padding-top: 18px;

   line-height: 1.4;
   font-size: 12px;
}

#project-description-links {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 106px;

   margin-left: 9px;
   margin-bottom: 19px;

   font-size: 10px;
}

#project-description-links>a {
   color: black;
}

#project-description-top-row {
   display: flex;
   flex-direction: row;
   width: 100%;

   justify-content: space-between;
}

#trip-it-line {
   border-top: 1px solid black;
   width: 195px;
}