#testBox {
   margin-top: calc(100% / 64);
   margin-left: calc(100% / 64);

   width: calc(3200% / 64);
}

.hoverable {
   position: absolute;
   border: 1px solid black;
   background-color: white;
}