#project-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   object-fit: contain;

   width: 100%;
   height: 100%;
   background-color: white;
}

#project-container > img {
   height: 100%;
}

#tripit-img {
   height: 100%;
   /* border: 1px solid black; */
}

#tripit-img-link {
   text-decoration: none;
   color: black;
   font-size: 16px;
}

#projects-div {
   margin-top: calc(500% / 36);
   margin-left: calc(2100% / 64);

   width: calc(1400% / 64);
   height: calc(1000% / 36);
}

#testbutton {
   z-index: 3;
   width: 500px;
   height: 500px;
}