/* #grape-div {
   position: absolute;

   margin-top: calc(500% / 36);
   margin-left: calc(4900% / 64);

   height: calc(1000% / 36);
   width: calc(1400% / 64);

   background-color: white;
   border: 1px solid black;
} */