#description-div {
   position: absolute;

   margin-top: calc(1150% / 36);
   margin-left: calc(2100% / 64);

   height: calc(600% / 36);
   width: calc(2600% / 64);

   border: 1px solid black;
}

#project-description-div {
   display: flex;
   height: 100%;

   justify-content: start;
   align-items: start;

   line-height: 1.4;
   font-size: 13px;
   padding: 18px 22px;
}